<footer class="footer">
	<span class="text-light">
		Michael Fatemi, 2020
	</span>
	<span class="text-faded">
		ML icon: <a class="text-faded" href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a>,
		CV icon: <a class="text-faded" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
		<a class="text-faded" href="https://www.flaticon.com/" title="Flaticon">(www.flaticon.com)</a>
	</span>
</footer>