<!DOCTYPE html>
<html>
    <head>
        <title>Coronavision</title>
        
        {{> css}}
    </head>
    <body>
        {{> nav}}
        <h1 class="text-center display-1">Coronavision</h1>

        <div class="code-icons">
            <a target="_blank" href="http://www.github.com/o-wth/Corona-Vision">
                <i class="fa fa-github"></i>Github
            </a>
            <a target="_blank" href="https://www.coronavision.us">
                <i class="fas fa-eye"></i>Live
            </a>
        </div>

        <div class="container bg-light white-box">
            <h1 class="text-center">What is Coronavision?</h1>
            <p>
                Coronavision is a web app that provides live Coronavirus data from several sources.
            </p>
            <p>
                I built it using the BeautifulSoup web scraping library for the data collection, NodeJS/TypeScript for the webserver, and MySQL to store the data.
            </p>
            <p>
                <h3 class="text-center">Image Gallery</h3>
                <div class="gallery">
                    <div class="gallery-column">
                        <img src="/img/projects/2020/coronavision/MainPage-Stats.png" alt="Live stats">
                        <img src="/img/projects/2020/coronavision/MainPage-Table.png" alt="Live data table">
                        <img src="/img/projects/2020/coronavision/Maps-WorldMap.png" alt="Choropleth map of cases">
                        <img src="/img/projects/2020/coronavision/News.png" alt="News feed">
                    </div>
                    <div class="gallery-column">
                        <img src="/img/projects/2020/coronavision/Charts-DailyTotal.png" alt="Chart showing the number of new cases per day">
                        <img src="/img/projects/2020/coronavision/Maps-Heatmap.png" alt="Heatmap of cases">
                        <img src="/img/projects/2020/coronavision/Charts-Recoveries.png" alt="Chart showing the number of recoveries per day">
                    </div>
                    <div class="gallery-column">
                        <img src="/img/projects/2020/coronavision/HowToHelp.png" alt="Page showing ways to help">
                        <img src="/img/projects/2020/coronavision/Maps-CountyLevel.png" alt="Choropleth map at the county level">
                        <img src="/img/projects/2020/coronavision/Maps-ChooseFeature.png" alt="Maps were very flexible">
                    </div>
                </div>
            </p>
        </div>

        <script type="text/javascript">
            $(".gallery img").click(
                function() {
                    let tab = window.open(this.getAttribute("src"), "_blank");
                    tab.focus();
                }
            );
        </script>
        {{> footer}}
    </body>
</html>