<!DOCTYPE html>
<html>
    <head>
        <title>Contact Me</title>
        
        {{> css}}
    </head>
    <body>
        {{> nav}}
        
        <div class=
            "d-table            <!-- minimum width while preserving linebreaks -->
            bg-light            <!-- coloring -->
            border-shadow       <!-- looks nicer -->
            text-center mx-auto <!-- center self and contents -->
            p-2 mt-2">          <!-- spacing -->
            <h1 class="text-dark">Contact Me</h1>
            <hr/>
            <div class="text-grid">
                <div role="row">
                    <i class="fas fa-at"></i>
                    <span>
                        <code>
                            <a href="mailto:myfatemi04@gmail.com">
                                myfatemi04@gmail.com
                            </a>
                        </code>
                    </span>
                </div>
                <br/>
                <div role="row">
                    <i class="fab fa-linkedin"></i>
                    <span>
                        <a href="https://www.linkedin.com/in/michael-fatemi-a38bb61a5/">
                            LinkedIn
                        </a>
                    </span>
                </div>
                <br/>
            </div><br/>
            <a href="/">Back to home</a>
        </div>
    </body>
</html>