<!DOCTYPE html>
<html>
    <head>
        <title>Hello!</title>
        
        {{> css}}
    </head>
    <body>
        {{> nav}}
        <h1 class="text-center display-1">Welcome to my website!</h1>
        <div class="buttons med-font">
            <a href="#">Resumé</a>
            <a href="/contact">Contact Me</a>
            <a target="_blank" href="https://www.github.com/myfatemi04">
                <i class="fa fa-github"></i>
                My GitHub
            </a>
        </div>
        {{> project-list}}
        {{!-- <div class="project-grid-container container">
            <div class="project-grid-square">
                <h2><a href="/projects/2020/coronavision">Coronavision</a></h2>
                <p class="mb-0">
                    This is a project I made in tenth grade to track the coronavirus.<br/>
                    <b>Features</b>
                    <ul class="no-bullets">
                        <li>
                            <i class="fab fa-python"></i> <b>Live state-level data</b> from primary sources.
                        </li>
                        <li>
                            <i class="fab fa-js-square"></i> <b>Charts with trendlines</b>
                        </li>
                        <li>
                            <i class="fab fa-js-square"></i> <b>News feed</b>
                        </li>
                        <li>
                            <i class="fab fa-js-square"></i> <b>Animated maps</b>
                        </li>
                        <li>
                            <i class="fas fa-database"></i> <b>Historical data from the beginning of the virus</b>
                        </li>
                    </ul>
                    
                    <div class="code-icons">
                        <a target="_blank" href="http://www.github.com/o-wth/Corona-Vision">
                            <i class="fa fa-github"></i>Github
                        </a>
                        <a target="_blank" href="https://www.coronavision.us">
                            <i class="fas fa-eye"></i>Live
                        </a>
                    </div>
                </p>
            </div>
            <div class="project-grid-square">
                <h2><a href="/projects/2020/eyeos">EyeOS</a></h2>
                <p class="mb-0">
                    I made this project with some of my friends in tenth grade.<br/>
                    <b>Features</b>
                    <ul class="no-bullets">
                        <li>
                            <i class="fas fa-brain"></i> <b>Eye detection</b> using OpenCV
                        </li>
                        <li>
                            <i class="fab fa-python"></i> Written in Python
                        </li>
                        <li>
                            <i class="fas fa-eye"></i> Tracks the user's eyes, enabling them to use their computer hands-free
                        </li>
                        <li>
                            <i class="fas fa-microphone"></i> Additional voice controls
                        </li>
                    </ul>
                    
                    <div class="code-icons">
                        <a target="_blank" href="http://www.github.com/myfatemi04/EyeOS">
                            <i class="fa fa-github"></i>Github
                        </a>
                    </div>
                </p>
            </div>
        </div> --}}

        {{> footer}}
    </body>
</html>