<!DOCTYPE html>
<html>

<head>
	<title>Michael Fatemi</title>

	{{> css}}
</head>

<body>
	<link rel="stylesheet" href="/css/questions.css">

	{{> nav}}
	<div style="max-width: 60em" class="mx-auto">
		<div class="text-center">
			<h1 class="display-1">Michael Fatemi</h1>

			<img class="profile-image" src="/img/me.JPG">
			<br />

			<div class="question-group">
				<div class="row question-pair">
					<div class="col-6">Who am I?</div>
					<div class="col-6">A junior at TJHSST.</div>
				</div>

				<div class="row question-pair">
					<div class="col-6">What motivates me?</div>
					<div class="col-6">Making the future a reality.</div>
				</div>
			</div>
		</div>

		{{!-- Buttons --}}
		<div class="buttons h3">

			<a href="#">Resumé</a>

			<a href="#contact">Contact Me</a>

			<a target="_blank" rel="noreferrer" href="https://www.github.com/myfatemi04">
				<i class="fa fa-github"></i>
				GitHub
			</a>

			<a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/michael-fatemi-a38bb61a5/">
				<i class="fab fa-linkedin"></i>
				LinkedIn
			</a>

		</div>

		<h1 class="text-center display-3 mt-6" id="projects">Projects</h1>
		{{> project-list}}

		<h1 class="text-center display-3 mt-6" id="skills">Skills</h1>
		<div style="max-width: 30em" class="mx-auto">
			{{> skills}}
		</div>
	</div>
	{{> footer}}
</body>

</html>