<!DOCTYPE html>
<html>
    <head>
        <title>Hello!</title>
        
        {{> css}}
    </head>
    <body>
        {{> nav}}
        <h1 class="text-center display-1">Welcome to my website!</h1>
        <div class="buttons med-font">
            <a href="#">Resumé</a>
            <a href="/contact">Contact Me</a>
            <a target="_blank" href="https://www.github.com/myfatemi04">
                <i class="fa fa-github"></i>
                My GitHub
            </a>
        </div>
        <h1 class="text-center">My projects</h1>
        {{> project-list}}
        {{> footer}}
    </body>
</html>