<!DOCTYPE html>
<html>
    <head>
        <title>My Projects</title>
        
        {{> css}}
    </head>
    <body>
        {{> nav}}
        <h1 class="text-center display-1">My projects</h1>
        {{> project-list}}
        {{> footer}}
    </body>
</html>