@import "colors"

.drop-shadow
    box-shadow: 0.1cm 0.1cm $darker-1

.curved-border
    border-radius: 0.25rem

.border-shadow
    @extend .drop-shadow, .curved-border

// white box for describing projects or etc.
.white-box
    @extend .border-shadow
    color: $dark-gray
    padding: 10px
