// Colors    
$background: #2667ff
$foreground: #f7f7f7
$light-white: #f7f7f7
$dark-gray: #343a40
$lighter-1: rgba(255, 255, 255, 0.2)
$lighter-2: rgba(255, 255, 255, 0.3)
$darker-1: rgba(0, 0, 0, 0.2)
$darker-2: rgba(0, 0, 0, 0.3)
$link: $background
$link-hover: #2baaff
$white: #ffffff