@import "colors", "boxes"

$grid-width: 300px
$grid-height: 300px

// grid with an icon and text
.text-grid
    text-align: left
    display: inline-block
    div[role=row]
        // *vertical* alignment
        align-items: center

        // display in a row, also uses min width possible
        display: inline-block
        font-size: 1.5rem

        // spacing between
        i, span
            margin: 0px 10px

        i
            color: $dark-gray
            margin: 10px
