@import "colors"

body
    // setting basic colors
    background-color: $background
    color: $light-white !important
    font-family: "Roboto", sans-serif !important

h1
    color: $foreground

// overriding bootstrap links
a
    color: $link
    text-decoration: underline
    &:hover
        color: $link
    &.nav-link
        color: $link
        text-decoration: none

.profile-image
    max-width: 20em
    border-radius: 2em

.code-icons
    // display them in a row, extend to max width
    display: flex
    align-items: center
    *
        margin: 10px
        color: $light-white
        i // code icons should be larger
            font-size: 2rem
        &:hover
            color: $light-white // override link color

// removes bullets from a <ul> tag
.no-bullets
    list-style-type: none
