@import "colors"

.project-list-item
	margin: 2.5em 0em

	.project-title
		font-weight: bold
		text-decoration: none
		font-size: 2rem
		color: $foreground

	.project-blurb
		font-style: italic
		font-weight: lighter
		vertical-align: middle
		line-height: 2rem
